<!-- templates/base.html -->
{% load static %}
<html>

<head>
    <title>Customers</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Customers</a>
                    <!--| <a href="{% url 'order_list' %}">Orders</a></h1>-->
            </div>
            <div class="nav-right"><ul>
                <a href="{% url 'customer_new' %}" class="nav-right-links"> + New Customer </a>
                <a href="{% url 'ride_new' %}" class="nav-right-links"> + New Ride</a>
            </ul>
            </div>
        </header>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>