{% extends 'base.html' %}

{% block content %}

<div class="post-entry">
    <h2>{{ customer.customer_name }}</h2>
    <ul>
        <li>Contact Number: {{ customer.customer_phone_number }}</li>
        <li>Email Address: {{ customer.customer_email }}</li>
        <li>Company: {{ customer.customer_business_name }}</li>
        <li><a href="{% url 'customer_orders' customer.pk %}">Customer Orders</a></li>
    </ul>
</div>


<a href="{% url 'customer_delete' customer.pk %}">+ Delete Customer</a>
<a href="{% url 'customer_edit' customer.pk %}">+ Edit Customer</a>

{% endblock content %}