{% extends 'base.html' %}

{% block content %}

<div class="post-entry">
    <h2>{{ customer.customer_name }}</h2>
    <p>{{ customer.customer_email }}</p>
    <ul>
        {% for order in customer.orders.all %}
        <li>Order Number: <a href="{% url 'order_detail' order %}"> {{order}} </a> {{ order.description }} </li>
        {% endfor %}
    </ul>
</div>


<a href="{% url 'customer_delete' customer.pk %}">+ Delete Customer</a>
<a href="{% url 'customer_edit' customer.pk %}">+ Edit Customer</a>

{% endblock content %}