<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}




<h2>{{ customer.customer_name }}</h2>
{% for order in customer.orders.all %}
<ul>
        <li><h3>Order Number: <a href="{% url 'order_detail' order.pk %}"> {{ order.pk }} </a></h3></li>
        <li>Ride Name: {{ order.ride }}</li>
        <li>Created On: {{ order.date_created }}</li>
        <li>Last Updated: {{ order.last_updated }}</li> 
        {% if order.controller.all %}
        <h4>Controllers</h4>
        {% endif %}
        <ul>
        {% for controller in order.controller.all %}
        <li><a href="{% url 'controller_detail' controller.pk %}">{{ controller.controller_number }} </a></li>
        {% endfor %}
</ul>
</ul>

{% endfor %}

{% endblock content %}